<template name="editorFooter">

  <nav id="editorFooter" class="navbar navbar-default pageFooter" role="navigation">
    <a id="saveLink" class="link" style="{{getLinkColor}}" skip>Lets graph this!</a>
    <a id="downloadJsonLnk" class="float-right link" style="{{getLinkColor}}" skip>Download</a>
    <!-- <a id="graphDataLnk" class="link" style="{{getLinkColor}}" skip>Graph Data</a> -->

    <!-- <a id="zoomIn" class="float-right">Zoom In (ctrl+cmd++)</a>
    <a id="zoomOut" class="float-right">Zoom Out (ctrl+cmd+-)</a> -->
  </nav>
</template>
